code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.On{
  background-color: rgb(27, 27, 22);
}
.Off{
  background-color: rgb(207, 195, 27);
}
.button{
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  margin-top: 20%;
  font-size: 35px;
  border-radius: 27px;
}
button:hover{
  background-color: whitesmoke;
  font-size: 40px;
  color: black;
  border-radius: 27em;
  cursor: pointer;
}
.onoff{
  width: 100%;
  height: 1000px;
  text-align: center;
}